.products {
    display: inline-grid;

    ul {
        li {
            cursor: pointer;
        }
    }
}

.details {
    display: inline-grid;
    margin-left: 100px;

    ul {
        li {
            cursor: pointer;
        }
    }
}