.addProducts {
    font-size: 14pt;
    padding-top: 100px;
    .first,
    .second,
    .third {
        display: flex;
        justify-content: center;
        margin: 30px 0;

        label {
            margin: 0 20px;
        }
        button{
            border-radius: 15px;
            width: 400px;
        }
    }
}