.home {
    .pageHeads {
        width: 100%;
        padding: 0%;

        li {
            display: inline-block;
            list-style: none;
            cursor: pointer;
            width: 33.33%;
            height: 8vh;
            text-align: center;
            background-color: red;
            color: white;
            font-weight: bold;
            font-size: 16pt;
            padding-top: 10px;
        }

        .active{
            background-color: white;
            border-bottom: 2px red solid;
            color: red;
        }
    }
}